// Cambiar colores
$info: #000c41;//cambio de color de info
$warning: #6c5ce7;
$font-family-base: 'Roboto', sans-serif;        // texto normal
$headings-font-family: 'Oswald', sans-serif;

p {
    font-family: 'Open Sans', sans-serif; // Fuente Open Sans
  }

// Importar Bootstrap
@import "../bootstrap-5.3.2/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');



